<% cache product do %>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <%= image_tag(product.image_url, class: "productImage img-responsive") rescue nil %>
    <%= link_to product do %>
      <h4><%= product.name %></h4>
    <% end %>
    <p id="productDetails"><%= product.description %></p>
    <p id="productPrice"><%= product.price %></p>
<% end %>
    <% if user_signed_in? && current_user.admin? %>
      <%= link_to 'Edit', edit_product_path(product) %>
      <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div><!-- /col -->
