<section class="single-product">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<ol class="breadcrumb">
					<li><a href="#">Home</a></li>
					<li><a href="#">Shop</a></li>
					<li class="active"><%= @product.name %></li>
				</ol>
			</div>
		</div>
		<div class="row mt-20">
			<div class="col-md-5">
				<div class="single-product-slider">
				    <%= image_tag(@product.image_url, class: "productImage img-responsive") %>
				</div>
			</div>
			<div class="col-md-7">
				<div class="single-product-details">
					<h2><%= @product.name %></h2>
					<p class="product-price"><%= @product.price %></p>
					<p class="product-description mt-20">
						 <%= @product.description %>
					</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, velit, sunt temporibus, nulla accusamus similique sapiente tempora, at atque cumque assumenda minus asperiores est esse sequi dolore magnam. Debitis, explicabo.</p>
          <p>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div> </p>
					<div class="product-quantity">
						<span>Quantity:</span>
						<div class="product-quantity-slider">
              <div class="input-group bootstrap-touchspin">
                <input id="product-quantity" type="text" value="0" name="product-quantity">
              </div>
						</div>
					</div>

					<a href="#" class="btn btn-main mt-20">Add To Cart</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="productinfo col-xs-12">
				<div class="tabCommon mt-20">
					<ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#reviews" aria-expanded="false">Reviews</a></li>
						<li class=""><a data-toggle="tab" href="#details" aria-expanded="true">Details</a></li>
					</ul>
					<div class="tab-content patternbg">
						<div id="reviews" class="tab-pane fade active in">
							<div class="post-comments">
						    	<ul class="media-list comments-list m-bot-50 clearlist">
								    <!-- Comment Item start-->
                    <%= render 'new_comment' %>
                    <%= render 'comments' %>
                    <%= will_paginate @comments %>
                    <% if @product.comments.present? %>
                      <li><%= @product.highest_rating_comment.body %></li>
                      <li><%= @product.lowest_rating_comment.body %></li>
                    <% end %>
							     </ul>
							</div>
						</div>
            <div id="details" class="tab-pane fade">
							<h4>Product Description</h4>
							<p><%= @product.description %></p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis delectus quidem repudiandae veniam distinctio repellendus magni pariatur molestiae asperiores animi, eos quod iusto hic doloremque iste a, nisi iure at unde molestias enim fugit, nulla voluptatibus. Deserunt voluptate tempora aut illum harum, deleniti laborum animi neque, praesentium explicabo, debitis ipsa?</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>



<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
