<!DOCTYPE html>
<html>
  <head>
    <title>Nameofapp</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "orders" %>
    <link href="https://fonts.googleapis.com/css?family=Arimo:400,700|Yeseva+One" rel="stylesheet">

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.20.7/dist/sweetalert2.all.min.js"></script>

    <!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support -->
    <script src="https://unpkg.com/promise-polyfill"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  </head>

<body>

    <!-- Start Top Header Bar -->
<section class="top-header">
	<div class="head container">
		<div class="row">
			<div class="col-md-4 col-xs-12 col-sm-4">
        <ul class="top-menu text-left list-inline">
          <li class="dropdown dropdown-slide">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"><span class="glyphicon glyphicon-user"></span> Login</a>
            <div id="login-dropdown" class="dropdown-menu">
                  <ul class="text-center login-buttons">
                    <li>
                      <%= link_to "Register", new_user_registration_path, :class => 'btn btn-main' %>
                    <li>
                    <% if user_signed_in? %>
                      <%= link_to 'Logout', destroy_user_session_path, :method => :delete, :class => 'btn btn-main btn-solid-border' %>
                    <% else %>
                      <%= link_to 'Login', new_user_session_path, :class => 'btn btn-main btn-solid-border' %>
                    <% end %>
                    </li>
                    <!-- <li><a href="#" class="btn btn-main btn-solid-border">Login</a></li> -->
                  </ul>
              </div>
          </li><!-- / Login -->
        </ul>
			</div>
			<div class="col-md-4 col-xs-12 col-sm-4">
				<!-- Site Logo -->
				<div class="logo text-center">
          <%= link_to root_path do %>
						<!-- replace logo here -->
						<svg width="200px" height="70px" viewBox="0 0 200 50" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
						    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" font-size="40" font-family="AustinBold, Austin" font-weight="bold">
						        <g id="Group" transform="translate(-108.000000, -297.000000)" fill="#000000">
						            <text id="BikeBerlin">
						                <tspan x="108.94" y="325">Bike Berlin</tspan>
						            </text>
						        </g>
						    </g>
						</svg>
          <% end %>
				</div>
			</div>
			<div class="col-md-4 col-xs-12 col-sm-4">
        <ul class="top-menu text-right list-inline">
      <!-- Cart -->
	          <li class="dropdown cart-nav dropdown-slide">
	            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a>
	            <div class="dropdown-menu cart-dropdown">
	            	<!-- Cart Item -->
	            	<div class="media">
	            		<a class="pull-left" href="#">
	            			<img  class="media-object" src="#" alt="image"/>
	            		</a>
	            		<!-- <div class="media-body">
	            			<h4 class="media-heading"><a href="">Ladies Bag</a></h4>
	            			<div class="cart-price">
                              <span>1 x</span>
                              <span>1250.00</span>
                            </div>
                            <h5><strong>$1200</strong></h5>
	            		</div> -->
	            	</div><!-- / Cart Item -->
	            	<!-- Cart Item -->

	            	<div class="cart-summary">
                        <span>Total</span>
                        <span class="total-price">0.00€</span>
                    </div>
                    <ul class="text-center cart-buttons">
                    	<li><a href="#" class="btn btn-small">View Cart</a></li>
                    	<li><a href="#" class="btn btn-small btn-solid-border">Checkout</a></li>
                    </ul>
                </div>

	          </li><!-- / Cart -->

	          <!-- Search -->
	          <li class="dropdown search dropdown-slide">
	            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"><span class="glyphicon glyphicon-search"></span> Search</a>
	            <ul class="dropdown-menu search-dropdown">
                <li>
                  <%= form_with(url: products_path, method: 'get', local: true) do |form| %>
                    <%= form.text_field :q, id: 'q', value: params[:q], placeholder: 'Search...', class: 'form-control' %>
                  <% end %>
                </li>
	              <!-- <li><form action="post"><input type="search" class="form-control" placeholder="Search..."></form></li> -->
	            </ul>
	          </li><!-- / Search -->

	        </ul><!-- / .nav .navbar-nav .navbar-right -->
			</div>
		</div>
	</div>
</section><!-- End Top Header Bar -->

<!-- Main Menu Section -->
<section class="menu">
	<nav class="navbar navigation">
	    <div class="container">
	      <div class="navbar-header">
	      	<h2 class="menu-title">Main Menu</h2>
	        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	          <span class="sr-only">Toggle navigation</span>
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	        </button>

	      </div><!-- / .navbar-header -->

	      <!-- Navbar Links -->
	      <div id="navbar" class="navbar-collapse collapse text-center">
	        <ul class="nav navbar-nav">

	          <!-- Home -->
	          <li class="dropdown ">
	            <%= link_to "Home", root_path %>
	          </li><!-- / Home -->

	          <!-- Elements -->
	          <li class="dropdown dropdown-slide">
	            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="350" role="button" aria-haspopup="true" aria-expanded="false">Shop <i class="icofont icofont-thin-down"></i></a>
	            <div class="dropdown-menu">
	              <div class="row">

	                <!-- Categories -->
	                <div class="col-lg-6 col-md-6 mb-sm-3">
	                	<ul>
							        <li class="dropdown-header">Categories</li>
							        <li role="separator" class="divider"></li>
                      <li><%= link_to "All", products_path %></li>
							        <li>
                        <a href="#">Racing Bikes</a>
                      </li>
							        <li><a href="#">Vintage Bikes</a></li>
							        <li><a href="#">Roadster</a></li>
	                	</ul>
	                </div>
	              </div><!-- / .row -->
	            </div><!-- / .dropdown-menu -->
	          </li><!-- / Elements -->

	          <!-- Info -->
	          <li class="dropdown dropdown-slide">
	            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="350" role="button" aria-haspopup="true" aria-expanded="false">Info <i class="icofont icofont-thin-down"></i></a>
	            <div class="dropdown-menu">
	              	<div class="row">
		                <!-- Introduction -->
		                <div class="col-sm-3 col-xs-12">
		                	<ul>
								         <li class="dropdown-header">Info</li>
								         <li role="separator" class="divider"></li>
                         <li><%= link_to "Contact", simple_pages_contact_path %></li>
								         <li><%= link_to "About", simple_pages_about_path %></li>
		                	</ul>
		                </div>
	              	</div><!-- / .row -->
	            </div><!-- / .dropdown-menu -->
	          </li><!-- / Pages -->
	        </ul><!-- / .nav .navbar-nav -->

	      	</div><!--/.navbar-collapse -->
	    </div><!-- / .container -->
	</nav>
</section>

<% if notice %>
  <div class="notice_wrapper">
    <p class="notice"><%= notice %></p>
  </div>
<% elsif alert %>
  <div class="notice_wrapper">
    <p class="alert"><%= alert %></p>
  </div>
<% end %>

<% flash.each do |key, value| %>
  <div class="notice_wrapper">
    <p class="flash <%= flash_class(key) %>"><%= value %></p>
  </div>
<% end %>

<%= yield %>

  <footer class="footer section text-center">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul class="social-media">
					<li>
						<a href=""><i class="icofont icofont-social-facebook"></i></a>
					</li>
					<li>
						<a href=""><i class="icofont icofont-social-instagram"></i></a>
					</li>
					<li>
						<a href=""><i class="icofont icofont-social-pinterest"></i></a>
					</li>
				</ul>
				<ul class="footer-menu">
					<li>
						<%= link_to "Contact", simple_pages_contact_path %>
					</li>
          <li>
            <%= link_to "About", simple_pages_about_path %>
          </li>
				</ul>
				<p class="copyright-text">&copy; 2018 Bike Berlin</p>
			</div>
		</div>
	</div>
</footer>

</body>
</html>
